<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <section id="type">
            <ul>
                <li>
                    <% data.forEach((type) => { %>
                        <li><%= type %></li>
                <% }); %>
            </li>
            </ul>
        </section>

        <section>
            <form>
                <label for="input-text">Input:</label>
                <textarea id="input-text" rows="5" placeholder="Enter your input here..."></textarea>
                <!-- insert thema api in input field??-->


                <div class="preview">Preview:</div>
            </form>
        </section>

         <%- include('./partials/loading'); %> 
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

    <div class="background-decoration-1">
        <figure></figure>
        <figure></figure>
        <figure></figure>
    </div>

    <div class="background-decoration-2">
        <figure></figure>
        <figure></figure>
        <figure></figure>
    </div>

    <div class="background-decoration-3">
        <figure></figure>
        <figure></figure>
    </div>




<script src="./scripts/preview.js"></script>

</body>

</html>